<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    <script>
        const accessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzI1Nzc3NzA4LCJpYXQiOjE3MjQ0ODE3MDgsImp0aSI6IjEyMWFkMGZiMTZkYjQwY2ZiNDY0ZjkyZGE3YTBkMzExIiwidXNlcl9pZCI6MTl9.GUxHXohZwjH9KwZq36AFyZQJ7xFCJGcTOSPghwa56bU'; // Replace with your actual JWT token

const socket = new WebSocket(`ws://localhost:8000/todo/`);

// Send JWT as a query parameter
socket.onopen = function() {
    console.log("WebSocket is open now.");
    const jwt = `Authorization=Bearer ${accessToken}`;
    socket.send(jwt); // This can be an initial message
};

socket.onmessage = function(event) {
    console.log("Message from server: ", event.data);
};

    </script>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
</body>
</html>
