<div class="col-lg-6">
    <div class="card max-height-vh-70" style="max-height: 70vh;">
        <div class="card-header shadow-xl">
            <div class="row">
                <div class="col-md-10">
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <h3 class="mb-0 d-block">Your application for Senior UX Designer - Krumzi</h3>
                            <span class="text-sm text-muted"><span class="font-weight-bold">Job: Senior UX Designer</span> | Design Team</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body overflow-auto overflow-x-hidden">
            
            <div id="container_message" class="container mt-5"></div>
           
            <div class="row justify-content-start">
                <div class="col-auto">
                    <div class="card ">
                        <div class="card-body p-2">
                            <p class="mb-0 text-sm">
                                Charlie is Typing...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-block">
            <form id="chat-form" class="align-items-center" onsubmit="return false;">
                <div class="input-group mb-3">
                    <input type="text" id="message-input" placeholder="Type your message here..." class="form-control" aria-label="Message">
                    <div class="input-group-append">
                        <button type="submit" class="input-group-text">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>





</div>