<div class="col-lg-3 mb-4">
                                        <div class="card max-height-vh-70 h-100 overflow-auto overflow-x-hidden mb-5 mb-lg-0" style="max-height: 70vh;">
                                            <form class="card-header">
                                                <div class="input-group mb-0">
                                                    <input type="text" placeholder="Search" class="form-control" aria-label="Amount (to the nearest dollar)">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="card-body p-2">
                                                <a href="{% static 'javascript:;'%}" class="d-block p-2 rounded-lg bg-gradient-primary">
                                                    <div class="d-flex p-2">
                                                        <img alt="Image" src="https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHBvcnRyYWl0fGVufDB8MnwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60" class="avatar shadow">
                                                        <div class="ml-2">
                                                            <div class="justify-content-between align-items-center">
                                                                <h4 class="text-white mb-0 mt-1">Andrew Jahna<span class="badge badge-success"></span>
                                                                </h4>
                                                                <p class="text-white mb-0 text-xs font-weight-normal">Job: Senior Java Developer</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="{% static 'javascript:;'%}" class="d-block p-2">
                                                    <div class="d-flex p-2">
                                                        <img alt="Image" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydHJhaXR8ZW58MHwyfDB8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60" class="avatar">
                                                        <div class="ml-2">
                                                            <div class="justify-content-between align-items-center">
                                                                <h4 class="mb-0 mt-1">Charlie Watson
                                                                    <span class="badge badge-success"></span>
                                                                </h4>
                                                                <p class="mb-0 text-xs font-weight-normal text-muted">Job: Senior UX Designer</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>