
{% load static %}
<script    src="{% static  'js/Chat_App/profile.js' %}" defer></script>
<div class="col-lg-3">
    <div class="card max-height-vh-70 h-100 overflow-auto overflow-x-hidden mb-5 mb-lg-0" style="max-height: 70vh;">
        <div class="card-body p-2">
            <a href="{% static 'javascript:;'%}" class="d-block p-2">
            </a>
            <div class="p-2 text-center">
                <a id = "link_img_profile" href="{% static 'javascript:;'%}" class="d-block p-2">
                    
                </a>
                <div class="ml-2 mt-0 mb-0 text-center">
                    <div class="justify-content-between align-items-center">
                        <h3 id = "name_profile"  class="mb-0 mt-1"></h3>
                        <p id = "email_profile" class="mb-0 text-sm text-dark font-weight-normal">Endava</p>
                        <h3 id = "lastname_profile"  class="mb-0 mt-1"></h3>
                    </div>
                </div>
            </div>
            <hr class="my-3">
            <div class="mx-3">
                <h4 class="mb-0">Applied for</h4>
                <p id="title_role" class="text-sm text-muted font-weight-normal"></p>
            </div>
            <hr class="my-3">
            <div class="mx-3">
                <div class="d-flex align-items-center mb-3">
                    <i class="fa  opacity-7"></i>
                    <div class="ml-3">
                        <h5 class="mb-0">Description of the this role</h5>
                        <span id = description_role>user@user.com
                        </span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
